<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studysiba.mapper.board.BoardMapper">

    <!-- 게시글등록 -->
    <insert id="writePost" parameterType="BoardVO">
        <selectKey keyProperty="brdNo" order="BEFORE" resultType="int">
            SELECT COALESCE(MAX(BRD_NO+1),1) AS BRD_NO FROM BOARD
        </selectKey>
        INSERT INTO BOARD( BRD_NO, BRD_TYPE, BRD_DIVIDE, BRD_ID, BRD_TITLE, BRD_CONTENT,
                                            BRD_GNO, BRD_STEP, BRD_INDENT, BRD_COUNT, BRD_AVAILABLE, BRD_DATE )
        VALUES(#{brdNo}, #{brdType}, #{brdDivide}, #{brdId}, #{brdTitle}, #{brdContent}, #{brdNo},
                        0, 0, 0, 1, NOW() )
    </insert>

    <!-- 답글등록 -->
    <insert id="replyPost" parameterType="BoardVO">
        INSERT INTO BOARD( BRD_NO, BRD_TYPE, BRD_DIVIDE, BRD_ID, BRD_TITLE, BRD_CONTENT, BRD_GNO, BRD_STEP, BRD_INDENT, BRD_COUNT, BRD_AVAILABLE, BRD_DATE )
        VALUES(
                        ( SELECT * FROM ( SELECT MAX(BRD_NO)+1 FROM BOARD ) X ),
                        #{brdType}, #{brdDivide}, #{brdId}, #{brdTitle}, #{brdContent},
                        ( SELECT * FROM ( SELECT BRD_GNO FROM BOARD WHERE BRD_NO = #{brdNo} ) X ),
                        ( SELECT * FROM ( SELECT BRD_STEP+1 FROM BOARD WHERE  BRD_NO = #{brdNo} ) X ),
                        ( SELECT * FROM ( SELECT BRD_INDENT+1 FROM BOARD WHERE BRD_NO = #{brdNo} ) X ),
                        0, 1, NOW() )
    </insert>

    <!-- 답글로 먼저 등록된 게시글 STEP 증가 -->
    <update id="replyShape" parameterType="BoardVO">
        UPDATE BOARD SET BRD_STEP = BRD_STEP+1
        WHERE
        BRD_GNO = ( SELECT * FROM ( SELECT BRD_GNO FROM BOARD WHERE BRD_NO = #{brdNo} ) AS A )
        AND
        BRD_STEP > ( SELECT * FROM ( SELECT BRD_STEP FROM BOARD WHERE BRD_NO = #{brdNo} ) AS B )
    </update>

    <!-- 게시글 글수 반환 -->
    <select id="getPostCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM BOARD
        WHERE BRD_TYPE = #{menu}
    </select>

    <!-- 게시글 리스트 조회 -->
    <select id="getPostList" parameterType="PageVO" resultType="BoardVO">
        <![CDATA[
            SELECT BRD_NO, BRD_TYPE, BRD_DIVIDE, BRD_ID, BRD_TITLE, BRD_CONTENT, BRD_GNO, BRD_STEP, BRD_INDENT, BRD_COUNT, BRD_AVAILABLE, BRD_DATE,
                          MEMBER.MBR_PROFILE, MEMBER.MBR_NICK,
                          COALESCE(BRD_LIKECOUNT,0) AS BRD_LIKECOUNT
            FROM (
                          SELECT * FROM BOARD
                          WHERE BRD_TYPE = #{menu} AND BRD_AVAILABLE = 1
                          ORDER BY BRD_GNO DESC, BRD_STEP ASC
                          LIMIT #{startRow}, #{pageSize}
            ) AS BOARD
            JOIN MEMBER
            ON MEMBER.MBR_ID = BOARD.BRD_ID
            LEFT JOIN (
                                SELECT LIKE_FNO, COUNT(*) AS BRD_LIKECOUNT
                                FROM LIKES
             ) LIKES
            ON LIKES.LIKE_FNO = BRD_NO
        ]]>
    </select>

    <!-- 게시글 가장 높은 번호 조회 -->
    <select id="getPostMaxNum" resultType="int">
        SELECT MAX(BRD_NO) FROM BOARD
    </select>

    <!-- 게시글 내용 조회 -->
    <select id="getPostOne" parameterType="BoardVO" resultType="BoardVO">
            SELECT BRD_NO, BRD_TYPE, BRD_DIVIDE, BRD_ID, BRD_TITLE, BRD_CONTENT, BRD_GNO, BRD_STEP, BRD_INDENT, BRD_COUNT, BRD_AVAILABLE, BRD_DATE,
                          MEMBER.MBR_PROFILE, MEMBER.MBR_NICK, MEMBER.MBR_ID,
                          COALESCE(BRD_LIKECOUNT,0) AS BRD_LIKECOUNT,
                          COALESCE(BRD_COMMENTCOUNT,0) AS BRD_COMMENTCOUNT
            FROM (
                          SELECT * FROM BOARD
                          WHERE BRD_NO = #{brdNo}
                          AND BRD_TYPE = #{brdType}
            ) AS BOARD
            JOIN MEMBER
            ON MEMBER.MBR_ID = BOARD.BRD_ID
            LEFT JOIN (
                                SELECT LIKE_FNO, COUNT(*) AS BRD_LIKECOUNT
                                FROM LIKES WHERE LIKE_FNO = #{brdNo}
             ) LIKES
            ON LIKES.LIKE_FNO = BRD_NO
            LEFT JOIN (
                                SELECT CMT_BNO, COUNT(*) AS BRD_COMMENTCOUNT
                                FROM COMMENT WHERE CMT_BNO = #{brdNo}
             ) COMMENT
            ON COMMENT.CMT_BNO = BRD_NO
    </select>

    <!-- 게시글 조회수 증가 -->
    <update id="increaseReadCount" parameterType="BoardVO">
        UPDATE BOARD
        SET BRD_COUNT = BRD_COUNT+1
        WHERE BRD_NO = #{brdNo}
    </update>

    <!-- 좋아요 추가 여부 확인 -->
    <select id="alreadyRegisteredLike" parameterType="LikeVO" resultType="int">
          SELECT COUNT(*) FROM LIKES
          WHERE LIKE_FNO = #{likeFno} AND LIKE_ID = #{likeId}
    </select>

    <!-- 좋아요 추가 -->
    <insert id="addLike" parameterType="LikeVO">
        <selectKey keyProperty="likeNo" order="BEFORE" resultType="int">
            SELECT COALESCE(MAX(LIKE_NO+1),1) AS LIKE_NO FROM LIKES
        </selectKey>
          INSERT INTO LIKES(LIKE_NO, LIKE_FNO, LIKE_ID, LIKE_DATE)
          VALUES(#{likeNo}, #{likeFno}, #{likeId}, NOW())
    </insert>

    <!-- 댓글 리스트 조회 -->
    <select id="getCommentList" parameterType="int" resultType="CommentVO">
        SELECT CMT_NO, CMT_BNO, CMT_ID, CMT_CONTENT, CMT_AVAILABLE, CMT_DATE,
                      MBR_NICK, MBR_PROFILE
        FROM   ( SELECT * FROM COMMENT WHERE CMT_BNO = #{no} ORDER BY CMT_NO ASC ) COMMENT
        LEFT JOIN MEMBER
        ON MEMBER.MBR_ID = CMT_ID
    </select>

    <!-- 댓글 등록 -->
    <insert id="writeComment" parameterType="CommentVO">
        <selectKey keyProperty="cmtNo" order="BEFORE" resultType="int">
            SELECT COALESCE(MAX(CMT_NO+1),1) AS CMT_NO FROM COMMENT
        </selectKey>
        INSERT INTO COMMENT(CMT_NO, CMT_BNO, CMT_ID, CMT_CONTENT, CMT_AVAILABLE, CMT_DATE)
        VALUES(#{cmtNo}, #{cmtBno}, #{cmtId}, #{cmtContent}, 1, NOW())
    </insert>

    <!-- 방금 작성한 댓글 번호 조회 -->
    <select id="getCommentMaxNum" parameterType="CommentVO" resultType="int">
        SELECT MAX(CMT_NO) FROM COMMENT
        WHERE CMT_ID = #{cmtId}
    </select>

    <!-- 댓글 조회 -->
    <select id="getCommentOne" parameterType="int" resultType="CommentVO">
        SELECT CMT_NO, CMT_BNO, CMT_ID, CMT_CONTENT, CMT_AVAILABLE, DATE_FORMAT(CMT_DATE, '%Y-%m-%d %h:%i:%s') AS CMT_DATE,
                      MBR_ID, MBR_NICK, MBR_PROFILE
        FROM ( SELECT * FROM COMMENT WHERE CMT_NO = #{no} ) COMMENT
        JOIN MEMBER
        ON MEMBER.MBR_ID = CMT_ID
    </select>

    <!-- 게시글 삭제 업데이트 -->
    <update id="deletePost" parameterType="CommentVO">
        UPDATE BOARD
        SET BRD_AVAILABLE = 0
        WHERE BRD_NO = #{brdNo}
    </update>

    <!-- 댓글 삭제 업데이트 -->
    <update id="deleteComment" parameterType="CommentVO">
        UPDATE COMMENT
        SET CMT_AVAILABLE = 0
        WHERE CMT_NO = #{cmtNo}
    </update>

</mapper>