.admin-subject{
    padding-top: 50px;
    padding-bottom: 76px;
    text-align: center;
}

.admin-topcomment{
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    display: block;
}

.admin-bottomcomment{
    font-size: 17px;
    font-weight: 600;
    display: block;
}

.admin-table{
    margin: 20px 0 40px 0 !important;
}

.admin-table td {
    max-width: 150px !important;
    word-break: break-all;
}


.admin-row{
    padding: 35px 20px;
}

.admin-title{
    font-size: 24px;
    color: rgb(96, 103, 105);
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
}

.admin-subtitle{
    font-weight: bold;
    color: #1d1d1d;
    font-size: 14px;
}

.admin-hr{
    margin-top: -90px;
    margin-bottom: 40px;
    border-color: rgb(234, 234, 234);
    z-index: 999;
    width: 100%;
}

.admin-top{
    height: auto;
}

#dataChart{
    width: auto;
    height: auto;
    padding-bottom: 50px;
}

#infoChart{
    width: auto;
    height: auto;
    padding-top: 30px;
}

.admin-divide {
    font-weight: bold;
    margin: 5px 1px !important;
    display: inline-block;
}

@media(min-width: 892px){
    .admin-top{
        height: 50px;
    }
    #dataChart{
        width: 700px;
        height: 500px;
        padding-bottom: 50px;
    }

    #infoChart{
        width: 90%;
        height: 500px;
    }

    .admin-divide{
        font-weight: bold;
        font-size: 13px;
        margin: 10px 1px !important;
        display: inline-block;
        cursor: pointer;
    }

}


.admin-searchform{
    width: 80%;
    margin-left: 10%;
}


#memberModal{
    height: 101% !important;
    overflow: hidden !important;
}

.admin-memrow{
    padding: 30px 0 5px !important;
    width: 80%;
    margin: auto;
}

.admin-meminput{
    display: none;
    width: 95%;
    margin: auto;
}

.admin-memselect{
    width: 100%;
}

.svg-title{
    height: 25px;
}

.admin-thead{
    background-color: #dee2e645;
}

.admin-custombtn{
    background-color: #ffce58 !important;
}



