/*
        상단 모바일 메뉴바
 */

.mobile-menu{
    position: fixed;
    background-color: rgba(217, 143, 52, 0.96);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 9999;
}

.mobile-menu.show{
    height: auto;
}

.mobile-item{
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.mobile-item:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.mobile-link{
    display: block;
    padding-left: 50px;
    color: white !important;
    cursor: pointer;
    font-weight: 400;
    font-family: "Calibri", "Roboto", sans-serif;
}







/*
        채팅 상단
*/

.chat-top{
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    height: 64px;
}

.chat-top > .top-button{
    margin: 3px 10px 0 0;
    position: absolute;
    right: 0;
}


.top-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.top-listbtn{
    background-color: #fdbf68;
}

.alarm-on{
    background-color: #fdbf68;
}

.alarm-off{
    background-color: #c1c1c1;
}

.top-invitebtn{
    background-color: #a3d063;
}

.top-closebtn{
    background-color: #f5886e;
}

.chat-top > .top-title{
    text-align: center;
    color: #bcbdc0;
    font-size: 20px;
}

.chat-prev{
    float: left;
    position: absolute;
    top: 20px;
    left: 25px;
    cursor: pointer;
}

.chat-prev img{
    width: 30px;
    height: 30px;
}



/*
        채팅 중간 메세지
*/


.chat-info{
    font-size: 10px;
    color: #bcbdc0;
    height: 16px;
}

.chat-nick{
    width: 60px;
    text-align: center;
}

.chat-nick, .chat-date{
    display: inline-block;
}

.chat-left .chat-nick, .chat-right .chat-date{
    float: left;
}

.chat-right .chat-date{
    margin-left: 10px;
}

.chat-right .chat-nick{
    float: right;
}

.chat-left .chat-date{
    float: right;
    margin-right: 10px;
}


.chat-content{
    display: block;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 1;
    width: 100%;
    height: auto;
}

.chat-profile{
    clear: both;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.chat-profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



.chat-left .chat-profile {
    background-color: #fff2cc;
    float: left;
}

.chat-right .chat-profile {
    background-color: #fdbf68;
    float: right;
}

.chat-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}

.chat-left .chat-textbox{
    background-color: #ffe6cb;
    margin-left: 20px
}

.chat-right .chat-textbox{
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.chat-textbox{
    width: calc(100% - 80px);
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
}

.chat-left .chat-textbox::before, .chat-left .chat-textbox::after{
    right: 100%;
    border-right-color: #ffe6cb;
    top: 18px;
    border-right: 10px solid #ffe6cb;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chat-right .chat-textbox::before, .chat-right .chat-textbox::after{
    left: 100%;
    border-right-color: #c7eafc;
    top: 18px;
    border-left: 10px solid #c7eafc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.cat-textbox::before{
    border-width: 15px;
    margin-top: -2px;
}

.cat-textbox::after{
    border-width: 13px;
    margin-top: 0px;
}






.chat-text{
    font-size: 18px;
    font-weight: 300;
}

.chat-left .chat-text{
    color: #c48843;
}

.chat-right .chat-text{
    color: #45829b;
}


.clear {
    clear: both;
}

/*
        하단
*/

.chat-bottom{
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    position: absolute;
    height: 100px;
}

.chat-inputbox{
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e8e9;
    width: calc(100% - 116px);
    position: relative;
    padding: 0 20px;
}

.chat-input{
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.chat-sendbox{
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #ffce56;
    border: 2px solid #ffce56;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: right;
}

.chat-btntext{
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}


#messengerMessage {
    z-index: 10010;
    position: fixed;
    bottom: 61%;
    right: 23%;
    display: none;
}

#findUserMessage{
    z-index: 10010;
    position: fixed;
    bottom: 60%;
    right: 5%;
    width: 90%;
    text-align: center;
    font-weight: bold;
    display: none;
}


@media(min-width: 430px){
    #messengerMessage{
        z-index: 10010;
        position: fixed;
        bottom: 459px;
        right: 119px;
        display: none;
    }

    #findUserMessage{
        z-index: 10010;
        position: fixed;
        bottom: 60%;
        right: 37%;
        width: 26%;
        text-align: center;
        font-weight: bold;
        display: none;
    }
}













/*
        메신저 리스트
 */

.messenger-box{
    height: 636px;
    overflow-x: hidden;
}

.messenger-list{
    position: relative;
    padding: 10px 10px 10px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 82px;
    cursor: pointer;
}
.messenger-list:hover{
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.messenger-infobox{
    display: inline-block;
    margin-left: 20px;
    width: 63%;
}

.messenger-nick{
    font-weight: 400;
    color: #bcbdc0;
}

.messenger-commentbox{
    vertical-align: inherit;
}

.messenger-comment{
    color: #8f9091;
    width: 86%;
    border-radius: 5px;
    background-color: #e7e8e9;
    padding: 5px 3px 3px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    height: 35px;
}

.messenger-public .messenger-comment{
    width: 100%;
}

.messenger-count{
    position: absolute;
    top: 29px;
    right: 8px;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background-color: #f5886ed4;
    vertical-align: 13px;
    text-align: center;
    font-weight: bold;
    color: #f8f8f8;
    padding: 4px;
}

.messenger-public{
    margin-bottom: 30px;
    background-color: transparent;
}

.messenger-public .messenger-comment{
    background-color: #ffffff;
}

.messenger-hr{

}

.messenger-bg{
    background-color: #ffcf70bd;
    position: absolute;
    width: 118%;
    height: 136px;
    top: -24px;
    left: -56px;
    z-index: -1;
}

.messenger-pnick{
    font-weight: 400;
    color: #ffffff;
}

.messenger-chattitle{
    padding-left: 8px;
    font-weight: 400;
    color: #f5886e;
    padding-top: 20px;
}

.messenger-list:hover .messenger-delete{
    display: block;
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
}

.messenger-delete{
    position: fixed;
    right: 288px;
    bottom: 54px;
    z-index: 10020;
    display: none;
}

.messenger-delete img {
    width: 20px;
    height: 20px;
}

.messenger-noauth{
    z-index: 9999;
}

.messenger-connector{
    cursor: pointer;
}



.chat-window, .chat-list{
    height: calc(100% - 9px);
    bottom: 1%;
    width: calc(100% - 10px);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    background-color: #f8f8f8;
    overflow: hidden;
    font-family: "Calibri", "Roboto", sans-serif;
    right: 8px;
    z-index: 9999;
    position: fixed !important;
}

.chat-message, .messenger-chatlist{
    height: calc(100% - (100px + 72px));
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    overflow-y: scroll;
}

.search-member {
    height: auto;
    width: calc(100% - 20px);
    position: fixed;
    bottom: 32%;
    right: 5%;
    z-index: 10003;
    border-radius: 10px;
    box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.15);
}


@media(min-width: 415px){
    .messenger-infobox{
        display: inline-block;
        margin-left: 20px;
        width: 77%
    }
}


@media(min-width: 430px) {
    .chat-window, .chat-list{
        width: calc(100% - 20px);
        max-width: 400px;
        height: 700px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
        background-color: #f8f8f8;
        overflow: hidden;
        font-family: "Calibri", "Roboto", sans-serif;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        position: fixed !important;
    }

    .chat-message, .messenger-chatlist{
        position: relative;
        list-style: none;
        padding: 20px 10px 0 10px;
        margin: 0;
        height: 532px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .search-member {
        height: auto;
        width: 350px;
        position: fixed;
        bottom: 350px;
        right: 47px;
        z-index: 10003;
        border-radius: 10px;
        box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.15);
    }

}




/*
        검색창
 */


.search-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search-closebtn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    background-color: #f5886e;
}

.search-body{
    box-shadow: 0 1px 30px 3px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 130px;
    padding: 55px 45px 0 45px;
}

.search-inputbox{
    display: block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #e7e8e9;
    position: relative;
    padding: 0 20px;
    width: 100%;
}

.search-input{
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: absolute;
    outline-width: 0;
    color: gray;
}

.search-inputlable{
    position: absolute;
    top: -28px;
    color: #bcbdc0;
}

.search-footer{
    background-color: #ffffff;
    height: 75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.search-btnbox{
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #ffce56;
    border: 2px solid #ffce56;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
}

.search-btntext{
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
}




/*
        메신저 알림창
 */

.popover{
    z-index: 10011;
}

.messenger-alert{
    position: fixed;
    right:0px;
    top: 60px;
    z-index: 9999;
    height: auto;
    width: 100%;
}

.message-alarm{
    padding: 10px 20px 10px 10px;
    background-color: #f4ab92;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: block;
}

.alarm-image{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 5px;
}

.alarm-nick {
    margin-right: 2px;
    font-weight: bold;
    color: white;
}

.alarm-text{
    font-size: 14px;
    color: #f3f4f6;
}

.alarm-close{
    display: inline-block;
    cursor: pointer;
}

.alarm-close > img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

@media (min-width: 430px) {
    .messenger-alert{
        position: fixed;
        right: 55px;
        top: 80px;
        z-index: 9999;
        height: auto;
        width: auto;
    }
}

.bg-one{
    background-color: #f7ad94 !important;
}

.bg-two{
    background-color: #ffce56 !important;
}

.bg-three{
    background-color: #f8b7c4 !important;
}

.bg-four{
    background-color: #7acdc7 !important;
}

.popover{
    display: none;
}

@media (min-width: 500px ){
    .popover{
        display: block;
    }
}




/*
        Common
 */

blockquote{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 10px solid #ffce58;
}