
/*
 *   스터디 모달 부분
 */

.st-ul{
    padding-left: 0;
}

.st-stepper{
    margin-left: 0 !important;
}

.st-table{
    border-bottom: 0 !important;
}

.st-box{
    transform: translateX(-0.5rem);
    display: flex;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
    width: calc(100% + 1rem);
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.st-item{
    position: relative;
    float: left;
    min-height: 0.0625rem;
    padding: 0 0.5rem;
    width: 100%;
    padding: 0 0.5rem 1rem 0.5rem;
    padding-bottom: 0;
    border-bottom: 0.0625rem solid #D7E2EB;
    padding: 20px;
}

.st-item:last-child{
    border-bottom: 0;
}

.st-item:hover{
    transform: scale(1.015);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.st-link{
    padding: 0;
    display: block;
    padding: 0;
    font-size: 0;
}

.st-thumb{
    display: block;
    vertical-align: top;
    font-size: 1rem;
    margin-bottom: 10px;
}

.st-thumb > img{
    position: relative;
    border-radius: 10px;
    width: 190px;
    height: 120px;
    max-height: 135px;
    padding: 5px;
}

.st-body {
    padding: 0;
    max-width: 100%;
    min-width: 64%;
    display: block;
    vertical-align: top;
    font-size: 1rem;
}

.st-title {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.4;
    font-weight: 700;
    font-family: Roboto;
}

.st-status{
    margin-top: 0.375rem;
    color: #828b8e;
}

.st-icon{
    display: inline-block;
    vertical-align: text-top;
    margin-right: 6px;
    fill: #98A8B9;
    width: 15px;
    height: 15px;
    vertical-align: -2px;
}

.st-pericon > img {
    width: 20px;
    height: 20px;
}

.st-group{
    color: #c03a2b !important;
    font-weight: bold;
}

.st-locate, .st-time{
    font-size: 0.8rem;
    color: #212529;
}

.st-description{
    margin-top: 0.5rem;
    color: #7890A0;
}

.st-taglist{
    margin: 0.75rem 0 0 -0.125rem;
    font-size: 0;
    color: #263747;
}

.st-tag{
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    vertical-align: top;
    border-radius: 0.1875rem;
    padding: 0.125rem 0.5rem;
    font-weight: 700;
    color: #263747;
    background-color: #E9ECF3;
    margin: 0 0.125rem 0.125rem 0;
}

.st-person{
    padding: 0.5rem 0 0 0;
    text-align: left;
    max-width: 100%;
    min-width: 20%;
    display: block;
    vertical-align: top;
    font-size: 1rem;
}

.st-per{
    font-weight: 700;
    color: #263747;
    display: inline-block;
    margin-left: 10px;
}

.st-pericon{
    font-weight: 700;
}

.st-percount{
    border-radius: 0.1875rem;
    color: #0078FF;
    font-weight: 700;
}

.st-now{
    margin-top: 8px;
    color: #fff;
    padding: 0px 6px;
    border: 1px solid #00BFB6;
    display: inline-block;
    border-radius: 2px;
    font-size: 12px;
    background-color: #00BFB6;
    margin-bottom: 10px;
}

.st-ended{
    margin-top: 8px;
    color: #fff;
    padding: 0px 6px;
    border: 1px solid #f44336;
    display: inline-block;
    border-radius: 2px;
    font-size: 12px;
    background-color: #f44336;
    margin-bottom: 10px;
}

.stv-group{
    margin-left: 10px;
    font-size: 24px;
    color: rgb(96, 103, 105);
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
}


.content-studybtn{
    float: right;
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: bold;
}

.study-modal-content{
    overflow-y : auto;
}

#dangerMessage{
    z-index: 9999;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    width: 82%;
    text-align: center;
}

.gm-fullscreen-control{
    display: none !important;
}

.st-searchinput{
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.st-subject{
    text-align: center;
    min-height: 55px;
}

.st-subject > span{
    border-radius: 5px;
    background-color: #e7e8e9;
    border: #e7e8e9;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 6px;
    margin: 3px 1px;
    display: inline-block;
    cursor: pointer;
}

.study-joinbtn {
    float: right;
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: bold;
}


@media(min-width: 586px){
    #dangerMessage{
        z-index: 9999;
        position: absolute;
        top: 23%;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
        font-weight: bold;
    }
    .gm-fullscreen-control{
        display: inline-block !important;
    }
    .st-subject{
        text-align: center;
    }
    .st-subject > span {
        border-radius: 5px;
        background-color: #e7e8e9;
        border: #e7e8e9;
        font-weight: bold;
        font-size: 13px;
        padding: 5px 10px;
        margin: 10px 1px;
        display: inline-block;
        cursor: pointer;
    }
    .st-subject > span:hover {
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid #e7e8e9;
    }
}

@media(min-width: 992px){
    .st-link{
        padding: 1rem 0;
        display: flex;
        padding: 0;
        font-size: 0;
    }
    .st-thumb{
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        margin: auto;
    }

    .st-thumb > img{
        position: relative;
        border-radius: 10px;
        width: 168px;
        max-height: 135px;
    }

    .st-body {
        padding: 0 2rem;
        max-width: 64%;
        min-width: 64%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
    }
    .st-person{
        padding: 1.5rem 1.5rem 0 0;
        text-align: right;
        max-width: 20%;
        min-width: 20%;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
    }
    .st-per{
        font-weight: 700;
        color: #263747;
    }
    .st-now{
        margin-top: 8px;
        color: #fff;
        padding: 0px 6px;
        border: 1px solid #00BFB6;
        display: inline-block;
        border-radius: 2px;
        font-size: 12px;
        background-color: #00BFB6;
        margin-bottom: 10px;
    }
}




/* 스터디 뷰 */
.stv-body{
    padding: 20px;
}

.stv-row{
    padding: 20px 0;
}

.stv-body h3{
    font-size: 24px;
    color: rgb(96, 103, 105);
    font-weight: bold;
    font-family: "Roboto", Arial, sans-serif;
}

.stv-body h4{
    font-weight: bold;
    color: #1d1d1d;
    font-size: 14px;
}

.stv-top{
    margin: 20px 0;
    font-size: 18px !important;
    color: #424242 !important;
    font-weight: bold;
}

.stv-taglist{
    margin-bottom: 20px;
}

.stv-tag {
    font-size: 15px;
    padding: 10px 15px;
}

.stv-hr {
    margin-top: 10px;
    margin-bottom: 40px;
    border-color: rgb(234, 234, 234);
}

.stv-logo{
    border-radius: 10px;
    max-width: 80%;
    display: block;
}

.stv-studytitle{
    margin-top: 20px;
}

.stv-studycontent{
    margin-top: 5px;
}

.stv-period{
    margin-bottom: 20px;
}

.stv-period h4 {
    display: inline-block;
}

.stv-period span{
    font-size: 13px;
}

#viewMap{
    width: 80%;
    height: 200px;
    border-radius: 10px;
}

.stv-address{
    margin-top: 10px;
}

.stv-locate{
    font-size: 13px;
}

.stv-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
}

.stv-user{
    width: 120px;
    display: inline-block;
    margin-top: 10px;
}

.stv-usertop{
    min-height: 120px;
    padding: 20px;
    background-color: #f7ad94;
}
.stv-usertop img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.triangle {
    position: relative;
    height: 0;
    width: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #f7ad94;
    margin: 0 auto -1.75em auto;
    top: -.05em;
    z-index: 20;
}

.stv-userbottom{
    margin-top: 30px;
    padding: 12px;
    font-weight: bold;
    font-family: "roboto";
    font-size: 12px;
    color: #606769;
}

.user-bgone{
    background-color: #f7ad94 !important;
}

.user-bgtwo{
    background-color: #ffce56 !important;
}

.user-bgthree{
    background-color: #f8b7c4 !important;
}

.user-bgfour{
    background-color: #7acdc7 !important;
}

.triangle-one{
    border-top: 1em solid #f7ad94 !important;
}

.triangle-two{
    border-top: 1em solid #ffce56 !important;
}

.triangle-three{
    border-top: 1em solid #f8b7c4 !important;
}

.triangle-four{
    border-top: 1em solid #7acdc7 !important;
}

.stv-msgbtn{
    position: absolute;
    bottom: 1px;
    left: -55px;
    width: 30px;
    height: 30px;
    font-size: 1.5em;
    color: #fff;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275);
    outline: none;
    cursor: pointer;
}

.stv-msgbtn:hover{
    transform: scale(1.055);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.stv-msgimg{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 7.5px;
}

.stv-line{
    width: 6px;
    height: 55px;
    background-color: #ffce56;
    position: absolute;
    left: -6px;
    top: 0px;
    border-radius: 5px;
}

.study-edit{
    margin-right: 5px!important;
}




/*
        스터디 그룹
 */

.group-box{
    margin-bottom: 50px;
}


.group-notfound{
    margin: 50px auto;
}

.group-notfound > p{
    font-size: 35px;
    color: #a2a5a5;
    margin-bottom: 5px;
}

.stg-top{
    min-height: 200px;
}


.crown {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 62px;
}

.crown path {
    fill : #d85e4f;
}


.icon {
    display: inline-block;
    width: 16em;
    height: 16em;
    transform: translate(-50%,-50%);
}

.stg-notice {
    border-bottom: 1px solid #eaeaea;
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    min-width: 260px;
}

.stg-notice>span:nth-of-type(1){
    font-weight: bold;
}

.stg-nav{
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: bold;
}

.stg-nav ul {
    justify-content: center;
    margin-bottom: 0;
}

.stg-groupname span{
    font-size: 25px;
    vertical-align: super;
    color: #212529;
    font-family: "Roboto";
}

.stg-notice span{
    padding-left: 20px;
    line-height: 17px;
}

.stg-notice span:nth-of-type(1){
    cursor: pointer;
}

.stg-lasttime{
    font-size: 10px;
    font-weight: bold;
    line-height: 25px !important;
}

.stg-edit {
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px !important;
    vertical-align: 3px !important;
}

.stg-delete{
    width: 20px !important;
    height: 20px !important;
    margin-left: 0 !important;
    vertical-align: 3px !important;
}

.stg-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}

.group-noticebtn{
    float: right;
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: bold;
}

.group-outbtn{
    float: right;
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    margin-top: 25px;
    font-weight: bold;
}

.group-input-title{
    width: 100%;
}

.group-modal-title{
    width: 100%;
}

.input-default-wrapper{
    padding: 0 1rem !important;
}

.ck-editor__editable {
    min-height: 250px !important;
    max-height: 250px !important;
}

.stg-row{
    padding: 20px 0 5px;
    border-bottom: 2px solid #eaeaea;
}

.stg-row > label {
    font-weight: bold;
    font-size: 13px;
}

.svg-content{
    max-height: 368px !important;
    overflow-y: auto !important;
}

.svg-modal-content{
    overflow-y: auto !important;
}

.svg-content img {
    max-width: 70%;
}


/*#groupModal .ck-dropdown{*/
    /*display: none;*/
/*}*/

.stg-update{
    display: none;
}

.out-icon {
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    top: 15px;
    left: 93px;
    cursor: pointer;
}




/*
        구글 지도
 */

#pac-input{
    width: 88% !important;
    height: 40px;
    z-index: 100 !important;
    position: absolute;
    left: 5px !important;
    top: 8px !important;
}
.gmnoprint{
    display: none !important;
}

.pac-container{
    z-index: 9999 !important;
}

#ui-datepicker-div{
    z-index: 9999 !important;
}





/*
        파일업로드
 */

.file-upload {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 4px dashed rgb(206, 212, 218);
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #f1eeee;
    border: 4px dashed #c1bcbc;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffbb33 !important;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: auto;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.span-choose-file{
    width: 80% !important;
}







/* ck editor */

.ck.ck-editor {
    max-height: 400px;
    height: 320px !important;
}


.ck.ck-editor__main>.ck-editor__editable {
    max-height: 400px;
    height: 250px !important;
}









.res-steps-container{
    transform: translateX(6%);
}

#employer-post-new-job .res-steps-container .res-steps {
    width: 25%;
    text-align: center;
    float: left;
    cursor: pointer
}

#employer-post-new-job .res-steps-container .res-steps .res-step-bar {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    border-radius: 50% !important;
    background: #0aa7e1;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
    padding-top: 7px;
    font-size: 20px;
    margin-right: 39px;
}

#employer-post-new-job .res-steps-container .res-steps .res-progress-title {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    display: block;
    margin-left: -39px;
}

#employer-post-new-job .res-steps-container .res-steps .res-progress-bar {
    height: 5px;
    background: #0aa7e1;
    width: 50%;
    margin: -22px 0 0 50%;
    float: left
}

#employer-post-new-job .res-steps-container .res-step-two .res-progress-bar, #employer-post-new-job .res-steps-container .res-step-three .res-progress-bar, #employer-post-new-job .res-steps-container .res-step-four .res-progress-bar {
    width: 100%;
    margin-left: 0%
}

#employer-post-new-job .res-steps-container .res-step-four .res-progress-bar {
    width: 50%;
    margin-right: 50%
}

#employer-post-new-job .res-step-form {
    border: 1px solid #d2d2d2;
    box-shadow: 0px 6px 4px -2px silver;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#employer-post-new-job .res-step-form h3 {
    margin: 10px 0;
    color: #0aa7e1;
    font-size: 18px
}

#employer-post-new-job .res-step-form .form-horizontal label {
    font-weight: normal
}

#employer-post-new-job .res-form-two, #employer-post-new-job .res-form-three, #employer-post-new-job .res-form-four {
    left: 150%
}

#employer-post-new-job .active .res-step-bar {
    background: #f19b20 !important
}

#employer-post-new-job .active .res-progress-title {
    color: #0aa7e1
}

.stm-top{
    margin: auto;

}

.stm-title{
    margin: 20px auto;
    text-align: center;
}

.stm-title > img{
    width: 64px;
    height: 64px;
    display: inline-block;
}

.stm-title > p{
    margin: 0;
    display: inline-block;
    vertical-align: -20px;
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}


.stm-divide{
    border-radius: 5px;
    border: 1px solid #a1a2a5;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    margin: 10px 1px;
    display: inline-block;
}


.stm-subtext{
    margin : 10px 0 0 0;
}

.stm-subtext > span:nth-of-type(1){
    font-weight: bold;
    font-size: 15px;
}

.stm-subtext > span:nth-of-type(2){
    margin-left: 10px;
}

.stm-subtext > span:nth-of-type(3){
    font-weight: bold;
    font-size: 16px;
    color: #c62828;
}

.stm-date{
    padding: 0 2%;
}

.stm-message{
    font-weight: bold;
    font-size: 15px;
    color: #c03a2b;
}

.stm-msgbox{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}




.test1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.ico {
    border-radius: 50%;
    cursor: pointer;
    fill: #8d8d94;
    transition: .4s;
    width: 20px;
    height: 20px;
}

.liked {
    transform: scale(1.05) rotate(360deg);
    background-color: #C62828;
    padding: 5px;
    fill: #ffffff;
}














