.sub-page {
    background-color: white !important;
    width: 100%;
    margin: 0 auto 0 auto;
}

.sub-subject{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.sub-subject > span {
    display: block;
}

.sub-subject > .sub-topcomment {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
    font-family: Roboto;
}

.sub-subject > .sub-bottomcomment {
    font-size: 13px;
    font-weight: 600;
    padding: 0 30px;
}

@media( min-width: 410px ) {
    .sub-subject > .sub-bottomcomment {
        font-size: 13px;
        font-weight: 600;
    }
}

.board-box {
    max-width: 1280px;
    height: auto;
    margin: auto;
    letter-spacing: 1px;
    padding: 0 20px;
}


.board-box > div > .board-total {
    float: left;
    font-weight: bold;
    font-size: 14px;
    color: #8d8d8d;
    margin-left: 20px;
    padding: 38px 14px 14px 14px;
}

.board-box > div > .content-writebtn {
    float: right;
    font-size: 14px;
    height: 45px;
    margin-right: 20px;
    font-weight: bold;
}

.board-box > .board-top {
    height: 50px;
}

.board-table {
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    clear: both;
    margin: 40px 0 0;
    border-top: 2px solid #373f52;
    border-bottom: 2px solid #eaeef0;
}

.board-table > .board-thead {
}

.board-table > .board-tbody > tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    margin-bottom: 10px;

}


.board-table > .board-tbody > tr > td {
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

.board-divide {
    text-align: center;
}

.board-divide > span {
    font-weight: bold;
    color: #989898;
}


.board-table > .board-tbody > tr > td:nth-last-of-type(3) {
    padding-left: 20px;
}

.board-subject {
    line-height: 16px;
    width: 60%;
    padding: 0px 20px 0px 120px;
}






.board-thumb {
    min-height: 51px;
    padding: 0 5px 0 0;
}

.board-thumb > .board-imgbox {
    display: none;
    width: 55px;
    height: 48px;
}


.board-imgbox > img {
    width: 60px;
    height: 60px;
    margin: 8px;
    vertical-align: middle;
    border-radius: 10px;
}


.board-content {
    position: relative;
    margin:  0 0 0 0;
    padding: 3px 0 0 0;
    overflow: hidden;
}


.board-content > span {
    margin-top: -20px;
}

.board-title {
    line-height: 36px;
    height: 50px;
}


.board-titletext {
    font-weight: bold;
}

.board-titletext > a {
    color: #444;
    font-size: 13px;
}

.icon-new {
    width: 15px;
    height: 15px;
}

.board-writer {
    display: inline-block;
    vertical-align: middle;
    color: #989898;
    margin: 3px 0 0;
}

.board-writer > a {
    color: #46909b !important;
    font-weight: bold;
}

.board-bar {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 2px 0 0;
    color: #e3e3e3;
    font-size: 11px;
}

.board-time {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    color: #989898;
    margin: 2px 0 0 -1px;
}

.board-hit {
    padding: 0 0 0 15px;
    line-height: 16px;
    color: #879cb4;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.board-hit > i, .board-like > i {
    margin-right: 0;
}

.board-like {
    padding: 0 0 0 15px;
    line-height: 16px;
    color: #879cb4;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    text-align: center;
}


.board-searchbox{
    margin: 30px auto;
    width: 100%;
}

.board-searchbox > select,  .board-search  {
    height: 40px;
    display: inline-block !important;
}

.custom-select {
    width: 30%;
}

.board-search{
    width: 65%;
}


.board-pagination{
    margin: 20px auto 50px;
    justify-content: center;
    font-weight: bold;
}

.pagination.pg-amber .page-item.active .page-link, .pagination.pg-amber .page-item.active .page-link:hover{
    background-color: #ffce58 !important;
}


@media(min-width : 586px) {

    .board-table > .board-tbody > tr > td {
        margin: 0;
        padding: 0;
        vertical-align: inherit;
        border-bottom: 1px solid #eaeaea;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
    }

    .board-box {
        max-width: 1280px;
        height: auto;
        margin: auto;
        letter-spacing: 2px;
    }

    .board-thumb > .board-imgbox {
        display: block;
        width: 55px;
        height: 48px;
    }

    .board-content {
        position: relative;
        margin: -44px 0 0 95px;
        padding: 3px 0 0 0;
        overflow: hidden;
    }

    .board-titletext > a {
        color: #444;
        font-size: 17px;
    }

    .board-hit > i, .board-like > i {
        margin-right: 10px;
    }

    .custom-select {
        width: 15%;
    }

    .board-search{
        width: 80%;
        margin-left: 10px;
    }

    .sub-subject > .sub-bottomcomment {
        font-size: 17px;
        font-weight: 600;
    }
}

@media( min-width: 1024px ) {
    .board-search{
        width: 75%;
        margin-left: 10px;
    }
}

@media( min-width: 1200px ) {
    .custom-select {
        width: 17%;
    }

    .board-search{
        width: 80%;
        margin-left: 10px;
    }
}




/* 게시판 바디 부분 */



.board-body {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    clear: both;
    margin: 40px 0 5% 0;
    border-top: 2px solid #373f52;
    border-bottom: 2px solid #eaeef0;
}


.post-head{
    width: 100%;
    display: table;
    background-color: #f8f8f8;
    color: #8d8d8d;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    padding: 2% 0;
}

.post-divide {
    width: 50%;
    text-align: center;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

.post-date {
    width: 50% ;
    text-align: center ;
    display: inline-block ;
    border-left: 1px solid silver ;
    text-align: center ;
    padding-bottom: 10px;
}

.post-info{
    width: 33.3%;
    text-align: center;
    display: inline-block;
    border-top: 1px solid silver;
    padding-top: 10px;
}

@media(min-width : 586px ) {
    .post-divide {
        width: 20%;
        text-align: center;
        display: inline-block;
        text-align: center;
        padding-bottom: 0;
    }

    .post-date {
        width: 20%;
        text-align: center;
        border-left: 1px solid silver;
        display: inline-block;
        padding-bottom: 0;
    }

    .post-info{
        width: 20%;
        text-align: center;
        border-left: 1px solid silver;
        display: inline-block;
        border-top: none;
        padding-top: 0;
    }
}

@media(min-width: 992px) {
    .post-divide {
        width: 10%;
        float: left;
        text-align: center;
        border-right: 1px solid silver;
        padding-bottom: 0;
    }

    .post-date {
        width: 10%;
        float: right;
        text-align: center;
        border-left: 1px solid silver;
        padding-bottom: 0;
    }

    .post-info{
        width: 10%;
        float: right;
        text-align: center;
        border-left: 1px solid silver;
        border-top: none;
        padding-top: 0;
    }
}

.post-top {
    width: 100%;
    display: table;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    color: #8d8d8d;
}

.post-title{
    width: 70%;
    float: left;
    color: #2d2d2d;
    font-weight: 700;
    padding: 0 20px;
}

.post-nick{
    width: 30%;
    float: left;
    text-align: center;
}

.post-body{
    padding: 20px;
    min-height: 500px;
}

.post-member {
    padding: 30px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    min-height: 50px;
}

.member-left{
    width: 98%;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.member-left > img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.member-left > span {
    font-weight: bold;
    color: #46909b;
    margin-left: 25px;
}

.member-right {
    width: 0;
    padding-right: 20px;
    display: none;
    vertical-align: middle;
}

.member-right > div {
    display: inline-block;
    float: right;
}

.member-right > div:nth-of-type(2) {
    margin-right: 20px;
}

.member-right > div > img {
    width: 30px;
    height: 30px;
}

.member-right > div > span{
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

@media(min-width: 500px) {

    .member-left{
        width: 48%;
        padding-left: 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }

    .member-right {
        width: 48%;
        padding-right: 20px;
        display: inline-block;
        vertical-align: middle;
    }
}

.post-bottom{
    height: 120px;
    padding: 20px 0 0 0;
    text-align: center;
}

.post-bottom > button{
    font-weight: bold;
    float: none;
}

.comment-top{
    padding: 0px 20px 20px 20px;
}

.comment-subject{
    padding: 0 0 10px 10px;
}

.comment-subject > span:nth-of-type(1){
    font-weight: bold;
    font-size: 1.4rem;
    color: #117a8b;
}

.comment-subject > span:nth-of-type(2){
    font-size: 0.9rem;
}

.comment-bottom {
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
    min-width: 310px;
}


.comment-btn {
    height: 48px;
    width: 93px;
    font-weight: bold;
}

.comment-input {
    padding: 10px 20px 10px 20px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.comment-text{
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

@media(min-width: 430px) {
    .comment-input {
        padding: 10px 20px 10px 20px;
        width: 70%;
        border-radius: 10px;
        border: 1px solid #ccc;
    }

    .post-bottom{
        height: 120px;
        padding: 20px 80px 0 0;
    }

    .post-bottom > button{
        font-weight: bold;
        float: right;
    }

}

@media(min-width: 600px) {
    .comment-input {
        padding: 10px 20px 10px 20px;
        width: 80%;
        border-radius: 10px;
        border: 1px solid #ccc;
    }
}

.comment-list {
    height: auto;
    border-top: 1px solid #ccc;
    padding: 15px 15px 20px 15px;
    min-width: 280px;
}

.comment-content {
    height: auto;
    border-top: 1px solid #ccc;
    padding: 15px 15px 15px 15px;
}

.comment-content:nth-of-type(1){
    border-top: 0 !important;
}

.comment-content > img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    margin-right: 20px;
}

.comment-info{
    display: inline-block;
    vertical-align: middle;
}

.comment-info  p {
    margin: 0;
}

.comment-info  p:nth-of-type(1) {
    font-weight: bold;
    color: #117a8b;
    font-size: 0.9rem;
}

.comment-info  p:nth-of-type(2) {
    font-size: 0.9rem;
}





/* 베이직 모달 커스텀 */

.basic-modal{
    top: 60px;
}

.basic-modal-dialog{
    height: 93.2%;
    width: 100% !important;
    max-width:  100% !important;
    margin: 0 !important;
}

.basic-modal-content{
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

.basic-modal-header{
    padding-bottom: 0;
    height: 55px;
    margin-bottom: 15px;
    border-bottom: 0;
    display: block !important;
}

.basic-modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 0;
    max-height: 75%;
    height:62%;
}

.basic-modal-footer{
    border-top: 0;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.basic-modal-box{
    margin: 0 auto 0 auto;
    height: 1000px !important;
    max-width: 1300px;
    width: 100%;
}

.basic-modal-title {
    display: inline-block;
    margin-left: 0.5% !important;
    width: 65%;
}

.basic-modal-select {
    width: 30%;
}

@media(min-width: 586px ) {
    .basic-modal-title {
        display: inline-block;
        margin-left: 0.5% !important;
        width: 81%;
    }

    .basic-modal-select {
        width: 15%;
    }
}

@media(min-width: 992px ) {
    .basic-modal-title {
        display: inline-block;
        margin-left: 0.5% !important;
        width: 84%;
    }

    .basic-modal-select {
        width: 15%;
    }
}

.bold{
    font-weight: bold;
}

.studysiba-button {
    width: 110px;
    font-weight: bold;
}

.studysiba-cancel{
    background-color: #e4b67c !important;
}

@media(min-width : 430px ) {
    .basic-modal-body {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        max-height: 75%;
        height: 75%;
    }
}


@media(min-width : 586px) {
    .basic-modal{
        top: 81px;
    }
    .basic-modal-dialog{
        height: 91.2%;
        width: 100% !important;
        max-width:  100% !important;
        margin: 0 !important;
    }
}




/* ckeditor */

.ck.ck-editor {
    max-height: 400px;
    height: 576px !important;
}


.document-editor {
    max-height: 576px;
    height: 576px !important;
    display: flex;
    flex-flow: column nowrap;
}

.ck.ck-editor__main>.ck-editor__editable {
    max-height: 576px;
    height: 576px !important;
}
