<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studysiba.mapper.admin.AdminMapper">

    <!-- 최근 1주일 게시판/스터디게시판/댓글/그룹공지/그룹메세지/개인메세지 통계 -->
    <select id="getDataChart" resultType="HashMap">
            SELECT
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM BOARD
                WHERE BRD_DATE > DATE_ADD(NOW(),INTERVAL -7 DAY) ) BCNT,
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM STUDYBOARD
                WHERE STD_REG > DATE_ADD(NOW(),INTERVAL -7 DAY) ) SCNT,
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM COMMENT
                WHERE CMT_DATE > DATE_ADD(NOW(),INTERVAL -7 DAY) ) CCNT,
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM GROUPBOARD
                WHERE GRB_DATE > DATE_ADD(NOW(),INTERVAL -7 DAY)  ) NCNT,
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM GROUPMESSAGE
                WHERE GRM_DATE > DATE_ADD(NOW(),INTERVAL -7 DAY)  ) GCNT,
                (SELECT IF(COUNT(*)=0,1,COUNT(*)) FROM MESSAGE
                WHERE MSG_DATE > DATE_ADD(NOW(),INTERVAL -7 DAY)  ) MCNT
    </select>

    <!-- 최근 1주일 방문자수/가입자수 시간별 통계 -->
    <select id="getInfoChart" resultType="HashMap">
        SELECT VDATE, COALESCE(VCNT,0) AS VCNT ,COALESCE(MCNT,0) AS MCNT FROM
            (
				SELECT DATE_FORMAT(VIS_DATE, '%H') AS VDATE, COUNT(*) AS VCNT FROM VISIT
                WHERE VIS_DATE > DATE_ADD(NOW(),INTERVAL -6 DAY)
				GROUP BY DATE_FORMAT(VIS_DATE, '%H')
             ) VISIT
			LEFT JOIN (
			                        SELECT DATE_FORMAT(MBR_JOIN, '%H') AS MBR_JOIN, COUNT(*) AS MCNT FROM MEMBER
                                    WHERE MBR_JOIN > DATE_ADD(NOW(),INTERVAL - 6 DAY)
                                    GROUP BY DATE_FORMAT(MBR_JOIN, '%H')
								) MEMBER
            ON VISIT.VDATE = MEMBER.MBR_JOIN
    </select>

    <!-- 모든 회원정보 리스트 조회 -->
    <select id="getMemberList" resultType="PointVO">
        SELECT MBR_NO, MBR_TYPE, MBR_AUTH, MBR_CODE, MBR_ID, MBR_PASS, MBR_EMAIL, MBR_NICK, MBR_PROFILE, MBR_CONNECT, MBR_JOIN,
                      PNT_NO, PNT_ID, PNT_SCORE
        FROM MEMBER
        JOIN POINT
        ON POINT.PNT_ID = MEMBER.MBR_ID
        ORDER BY MBR_JOIN DESC
    </select>

    <!-- 회원정보 변경 -->
    <update id="updateMember" parameterType="HashMap">
        <choose>
            <when test="type == 'PNT_SCORE'">
                UPDATE POINT
                SET ${type} = #{value}
                WHERE PNT_ID = #{id}
            </when>
            <otherwise>
                UPDATE MEMBER
                SET ${type} = #{value}
                WHERE MBR_ID = #{id}
            </otherwise>
        </choose>
    </update>


    <select id="getMemberOne" parameterType="String" resultType="PointVO">
        SELECT MBR_NO, MBR_TYPE, MBR_AUTH, MBR_CODE, MBR_ID, MBR_PASS, MBR_EMAIL, MBR_NICK, MBR_PROFILE, MBR_CONNECT, MBR_JOIN,
                      PNT_NO, PNT_ID, PNT_SCORE
        FROM (
                      SELECT * FROM MEMBER
                      WHERE MBR_ID = #{id}
        ) MEMBER
        JOIN POINT
        ON POINT.PNT_ID = MEMBER.MBR_ID
    </select>

    <select id="getBoardList" resultType="BoardVO">
        SELECT BRD_NO, BRD_TYPE, BRD_DIVIDE, BRD_ID, BRD_TITLE, BRD_CONTENT, BRD_GNO, BRD_STEP, BRD_INDENT, BRD_COUNT, BRD_AVAILABLE, BRD_DATE,
                          MEMBER.MBR_PROFILE, MEMBER.MBR_NICK
        FROM (
                      SELECT * FROM BOARD
                      ORDER BY BRD_NO DESC
                      ) BOARD
        JOIN MEMBER
        ON MEMBER.MBR_ID = BOARD.BRD_ID
    </select>




</mapper>